## Fake and Real News Dataset from Kaggle 
### Real news is from 01/2012 - 12/2017
#### Has headline (column named title), text (of article), subject (politicsNews or worldnews), and date
#### 0 = true news

In [1]:
import pandas as pd

In [25]:
trueinfo = pd.read_csv('True.csv')

In [26]:
trueinfo

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [27]:
trueinfo.text[21416]

'JAKARTA (Reuters) - Indonesia will buy 11 Sukhoi fighter jets worth $1.14 billion from Russia in exchange for cash and Indonesian commodities, two cabinet ministers said on Tuesday. The Southeast Asian country has pledged to ship up to $570 million worth of commodities in addition to cash to pay for the Suhkoi SU-35 fighter jets, which are expected to be delivered in stages starting in two years. Indonesian Trade Minister Enggartiasto Lukita said in a joint statement with Defence Minister Ryamizard Ryacudu that details of the type and volume of commodities were  still being negotiated . Previously he had said the exports could include palm oil, tea, and coffee. The deal is expected to be finalised soon between Indonesian state trading company PT Perusahaan Perdangangan Indonesia and Russian state conglomerate Rostec. Russia is currently facing a new round of U.S.-imposed trade sanctions. Meanwhile, Southeast Asia s largest economy is trying to promote its palm oil products amid threats of a cut in consumption by European Union countries. Indonesia is also trying to modernize its ageing air force after a string of military aviation accidents. Indonesia, which had a $411 million trade surplus with Russia in 2016, wants to expand bilateral cooperation in tourism, education, energy, technology and aviation among others. '

In [28]:
trueinfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [29]:
trueinfo.date.value_counts()

December 20, 2017      182
December 6, 2017       166
November 30, 2017      162
November 9, 2017       158
October 13, 2017       155
                      ...
May 28, 2016             1
December 30, 2017        1
September 11, 2016       1
May 22, 2016             1
August 21, 2016          1
Name: date, Length: 716, dtype: int64

In [30]:
trueinfo['real_or_fake'] = 0

In [31]:
trueheadlines = pd.DataFrame([trueinfo.title, trueinfo.real_or_fake])
trueheadlines

,0,1,2,3,4,5,6,7,8,9,...,21407,21408,21409,21410,21411,21412,21413,21414,21415,21416
title,"As U.S. budget fight looms, Republicans flip t...",U.S. military to accept transgender recruits o...,Senior U.S. Republican senator: 'Let Mr. Muell...,FBI Russia probe helped by Australian diplomat...,Trump wants Postal Service to charge 'much mor...,"White House, Congress prepare for talks on spe...","Trump says Russia probe will be fair, but time...",Factbox: Trump on Twitter (Dec 29) - Approval ...,Trump on Twitter (Dec 28) - Global Warming,Alabama official to certify Senator-elect Jone...,...,"Mata Pires, owner of embattled Brazil builder ...","U.S., North Korea clash at U.N. forum over nuc...","U.S., North Korea clash at U.N. arms forum on ...",Headless torso could belong to submarine journ...,North Korea shipments to Syria chemical arms a...,'Fully committed' NATO backs new U.S. approach...,LexisNexis withdrew two products from Chinese ...,Minsk cultural hub becomes haven from authorities,Vatican upbeat on possibility of Pope Francis ...,Indonesia to buy $1.14 billion worth of Russia...
real_or_fake,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
trueheadlines = trueheadlines.T

In [33]:
trueheadlines

                                                   title real_or_fake
0      As U.S. budget fight looms, Republicans flip t...            0
1      U.S. military to accept transgender recruits o...            0
2      Senior U.S. Republican senator: 'Let Mr. Muell...            0
3      FBI Russia probe helped by Australian diplomat...            0
4      Trump wants Postal Service to charge 'much mor...            0
...                                                  ...          ...
21412  'Fully committed' NATO backs new U.S. approach...            0
21413  LexisNexis withdrew two products from Chinese ...            0
21414  Minsk cultural hub becomes haven from authorities            0
21415  Vatican upbeat on possibility of Pope Francis ...            0
21416  Indonesia to buy $1.14 billion worth of Russia...            0

[21417 rows x 2 columns]

In [34]:
trueheadlines.rename(columns={'title': 'headline'}, inplace=True)
trueheadlines

                                                headline real_or_fake
0      As U.S. budget fight looms, Republicans flip t...            0
1      U.S. military to accept transgender recruits o...            0
2      Senior U.S. Republican senator: 'Let Mr. Muell...            0
3      FBI Russia probe helped by Australian diplomat...            0
4      Trump wants Postal Service to charge 'much mor...            0
...                                                  ...          ...
21412  'Fully committed' NATO backs new U.S. approach...            0
21413  LexisNexis withdrew two products from Chinese ...            0
21414  Minsk cultural hub becomes haven from authorities            0
21415  Vatican upbeat on possibility of Pope Francis ...            0
21416  Indonesia to buy $1.14 billion worth of Russia...            0

[21417 rows x 2 columns]

In [35]:
trueheadlines.to_csv('trueheadlines.csv', index=False)